.post {
    margin: 2em auto;
    width: 500px;
    background-color: #222;

    border-radius: 10px;

    box-shadow: rgba(124, 144, 165, 0.6) 0px 8px 24px;
}

.postUser {
    text-align: left;
    border-bottom: 1px solid #c4ecf7;
    padding: 2px;
}

.post .postDesc h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.2em;
    margin: 0.3em 0 1em 0.8em;
    text-align: left;
}

.post .postDesc {
    padding: 6px 0px 16px 4px;
}

.post .postDesc p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1em;
    margin-left: 1em;
    text-align: left;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.post .postImage img {
    width: 500px;
    object-fit: contain;
    border-radius: 10px 10px 0px 0px;
}

.post .postLike {
    max-width: 85px;
    margin-top: 0.8em;
    margin-left: 0.4em;
    margin-bottom: 0.6em;

    display: flex;
    align-items: center;
}

.post .postLike svg {
    transition: transform 0.2s;
    margin-left: 0.8em;
}

.post .postLike svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.post .postLike .shareIcon path {
    fill: rgb(103, 209, 165);
}

.post .postLike .loveIcon path {
    fill: rgb(207, 67, 79);
}

